* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

body {
	background: #EEEEF4;
	overflow-x: hidden;
}

.container {
	max-width: 1170px;
	margin: 0 auto;

	&_big {
		max-width: 1350px;
	}
}

.tile {
	background: #FFFFFF;
	box-shadow: 0px 65px 72px rgba(198, 197, 210, 0.15), 0px 35px 40px rgba(198, 197, 210, 0.25), 0px 10px 15px rgba(198, 197, 210, 0.45);
	border-radius: 36px;

	&_big {
		border-radius: 66px;
	}
}

@media (max-width: 1200px) {
	.container {
		max-width: 1170px;
		margin: 0 40px;
	
		&_big {
			max-width: 1350px;
			margin: 0 auto;
		}
	}

	.tile {
		border-radius: 24px;
	}
}

@media (max-width: 740px) {
	.tile_big {
		border-radius: 0px;
	}
}


@import 'blocks/buttons';
@import 'blocks/form';
@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/features';
@import 'blocks/video-reviews';
@import 'blocks/recommend';
@import 'blocks/offer';
@import 'blocks/faq';
@import 'blocks/footer';
