.main {
    margin-top: 35px;

    .tile_big {
        padding: 80px 90px 76px 90px;
        position: relative;
    }

    &__image {
        width: 40%;
        position: absolute;
        top: 41px;
        right: 90px;
        bottom: 20px;
        background-image: url("../img/first-screen-block-img.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    &__title {
        max-width: 724px;
        font-weight: 700;
        font-size: 44px;
        line-height: 60px;
        color: #343439;
        text-transform: uppercase;

        span {
            color: #57A41B;
        }
    }

    &__list {
        margin-top: 22px;
        margin-bottom: 42px;

        .item {
            display: flex;
            margin-bottom: 14px;
            &:last-child {
			margin-bottom: 0px;
            }

            &__icon {
                margin-right: 15px;
            }

            &__txt {
                font-weight: 400;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: 0.04em;
                color: #343439;
            }
        }
    }
}

@media (max-width: 1390px) {
    .main {
        &__title {
            max-width: 600px;
        }
    }
}

@media (max-width: 740px) {
    .main {
    
        .tile_big {
            padding: 80px 40px 120px 40px;
        }
    
        &__image {
            width: 49%;
            top: 177px;
            right: 37px;
            height: 247px;
        }
    
        &__title {
            font-weight: 900;
            font-size: 32px;
            line-height: 43px;
        }
    
        &__list {
            .item {
                max-width: 180px;
            }
        }
    }
}

@media (max-width: 580px) {
    .main {
        &__image {
            top: 300px;
            height: 210px;
        }    
    }
}


@media (max-width: 500px) {
    .main {
        &__image {
            width: 50%;
            top: 286px;
            right: -14px;
            height: 210px;
        }

        &__list {
            .item {
                &__txt {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }
    }
}

@media (max-width: 320px) {
    .main {
        &__image {
            top: 327px;
        }
        &__list {
            .item {
                &__txt {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 18px;
                }
            }
        }
    }
}