.recommend {
    margin-top: 120px;

    &__title {
        margin-bottom: 42px;
        font-weight: 700;
        font-size: 31px;
        line-height: 43px;
        color: #161516;

        span {
            color: #74C733;
        }
    }

    &-cards-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-card {
        max-width: 270px;
        position: relative;
        margin-bottom: 52px;

        &__avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: -22px;
            width: 88px;
            height: 88px;
            background: #FFFFFF;
            border-radius: 24px;
            box-shadow: 0px 15px 30px rgba(198, 197, 210, 0.15), 0px 12px 20px rgba(198, 197, 210, 0.25), 0px 4px 5px rgba(198, 197, 210, 0.45);
            padding: 22px;
        }

        &__content {
            min-height: 300px;
            padding: 98px 30px 0 30px;
        }

        &__title {
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 21px;
            line-height: 33px;
            color: #161516;
        }

        &__descr {
            font-weight: 300;
            font-size: 15px;
            line-height: 29px;
            color: #595866;
        }
    }

    &-form {
        display: flex;
        justify-content: space-between;
        padding: 60px 100px;

        &__content {
            max-width: 600px;

            .title {
                font-weight: 700;
                font-size: 21px;
                line-height: 33px;
                color: #161516;
            }

            .description {
                font-weight: 300;
                font-size: 15px;
                line-height: 29px;
                color: #595866;
            }
        }

        .form__elements {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            button {
                width: 284px;
            }

            input {
                width: 284px;
                height: 52px;
                margin: 0;
            }
        }
    }
}

@media (max-width: 1290px) {

    .recommend {
        margin-top: 120px;
    
        &__title {
            font-size: 26px;
			line-height: 35px;
        }
    
        &-cards-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
			gap: 30px 30px;
        }
    
        &-card {
            max-width: 240px;
            margin-bottom: 10px;
    
            &__avatar {
                width: 74px;
                height: 74px;
                padding: 15px;
            }
    
            &__content {
                min-height: 240px;
                padding: 76px 20px 0 20px;
            }
    
            &__title {
                font-weight: 600;
                font-size: 15px;
                line-height: 21px;
            }
    
            &__descr {
                font-size: 13px;
                line-height: 21px;
                color: #595866;
            }

            &__number {
                margin-top: 30px;
                font-weight: 700;
                font-size: 15px;
                line-height: 29px;
                letter-spacing: 0.5em;
                color: #74C733;
            }
        }
    
        &-form {
            flex-direction: column;
            align-items: center;
            justify-content: start;
            padding: 30px 20px;
            margin: 0 auto;
            margin-top: 20px;
            max-width: 310px;
            min-height: 412px;
            width: 100%;

            &__content {
    
                .title {
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 27px;
                    margin-bottom: 10px;
                }
    
                .description {
                    font-size: 13px;
                    line-height: 21px;
                }
            }
    
            .form__elements {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                max-width: 270px;
    
                button {
                    max-width: 270px;
                    width: 100%;
                }
    
                input {
                    max-width: 270px;
                    margin-bottom: 16px;
                    margin-top: 36px;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 740px) {
    .recommend-card {
        margin-left: 10px;
    }

    .recommend-cards-wrapper {
        display: block;
    }
}